DISCORD_TOKEN=your-discord-bot-token
PREFIX=!
CLIENT_ID=your-discord-client-id
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REFRESH_TOKEN=your-spotify-user-refresh-token
SPOTIFY_TOP_TRACKS_COUNTRY=US
